<nav class="bg-gray-800" *ngIf="!urlMatch('/home')" >
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu" (click)="toggleNavExpand()">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="h-6 w-6 {{navExpand?'hidden':'block'}}" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="h-6 w-6 {{navExpand?'block':'hidden'}}" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">

        <div class="flex-shrink-0 flex items-center">
          <!-- <img class="block lg:hidden h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow"> -->
          <img class="block sm:skew-x-[-20deg]  h-12 w-auto" src="assets/LOGO_white.png" alt="Workflow">
        </div>

        <div class="hidden sm:flex sm:ml-6  items-center">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a routerLink="home" class="nav-link {{urlMatch('/home')?'active':''}}"  aria-current="page">Home</a>

            <a routerLink="test1" class="nav-link {{urlMatch('/test1')?'active':''}}" >Excel 資料</a>

            <a routerLink="test2" class="nav-link {{urlMatch('/test2')?'active':''}}" >Admin 資料</a>

            <a routerLink="projects" class="nav-link {{urlMatch('/projects')?'active':''}}" >Projects</a>

            <a routerLink="aboutUs" class="nav-link {{urlMatch('/aboutUs')?'active':''}}" >About Us</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu" *ngIf="navExpand">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a routerLink="home" class="nav-link {{urlMatch('/home')?'active':''}}"  aria-current="page">Home</a>

      <a routerLink="test1" class="nav-link {{urlMatch('/test1')?'active':''}}" >Excel 資料</a>

      <a routerLink="test2" class="nav-link {{urlMatch('/test2')?'active':''}}" >Admin 資料</a>

      <a routerLink="projects" class="nav-link {{urlMatch('/projects')?'active':''}}" >Projects</a>

      <a routerLink="aboutUs" class="nav-link {{urlMatch('/aboutUs')?'active':''}}" >About Us</a>
    </div>
  </div>
</nav>
<nav class="bg-transparent" *ngIf="urlMatch('/home')">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu" (click)="toggleNavExpand()">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="h-6 w-6 {{navExpand?'hidden':'block'}}" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="h-6 w-6 {{navExpand?'block':'hidden'}}" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-between">

        <div class="flex-shrink-0 flex items-center">
          <!-- <img class="block lg:hidden h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow"> -->
          <img class="block sm:skew-x-[-20deg]  h-12 w-auto" src="assets/LOGO_black.png" alt="Workflow">
        </div>

        <div class="hidden sm:flex sm:ml-6  items-center">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a routerLink="home" class="nav-home-link {{urlMatch('/home')?'active':''}}"  aria-current="page">Home</a>

            <a routerLink="test" class="nav-home-link {{urlMatch('/test')?'active':''}}" >Test</a>

            <a routerLink="projects" class="nav-home-link {{urlMatch('/projects')?'active':''}}" >Projects</a>

            <a routerLink="aboutUs" class="nav-home-link {{urlMatch('/aboutUs')?'active':''}}" >About Us</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu" *ngIf="navExpand">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a routerLink="home" class="nav-link {{urlMatch('/home')?'active':''}}"  aria-current="page">Home</a>

      <a routerLink="test" class="nav-link {{urlMatch('/test')?'active':''}}" >Test</a>

      <a routerLink="projects" class="nav-link {{urlMatch('/projects')?'active':''}}" >Projects</a>

      <a routerLink="aboutUs" class="nav-link {{urlMatch('/aboutUs')?'active':''}}" >About Us</a>
    </div>
  </div>
</nav>
